<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta id="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>SwampHacks Kickass Bug Tracker</title>
		<link rel="stylesheet" href=".../public/styles/bugstyles.css" />
	</head>
	<body background = "../public/images/background.jpg">
		<header>
			<h1>
                Welcome *USERNAME*!!!!!
            </h1>
            <form action="report.html">
				<div class="container">
                    <button id="reportBug" onclick="window.location.href = 'report.html';">Report Bug</button>
				</div>
			  </form>
		</header>
		<article>

            <% for (var key in bugs) { %>
                <% if (bugs.hasOwnProperty(key)) { %>
                    <div>
                        <hr>
                        <h2>Product Name: <%= bugs.productName %></h2>
                        <div>
                            <hr>
                            <h3>Bug Name: <%= bugs[key].bugName %></h3>
                            <ul>
                                <li>Date Found: <%= bugs[key].dateFound %></li>
                                <li>Severity: <%= bugs[key].severity %></li>
                                <li>Erroneous Program Behavior</li>
                                <li>Details on how to reproduce</li>
                                <li>Status of bug repair: </li>
                            </ul>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </article>
    </body>
</html>
